/* header */
body {
  margin: 0;
  padding: 0;
}
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  padding: 0 0 0 50px;
}
.navbar .logo {
  position: relative;
}
.navbar ul {
  margin: 0;
  padding: 0;
  background: rgba(0, 0, 0, 0.5);
}
